h1{
	text-align: center;
	color: red;
	font-size: 60px;
}
body{
	text-align: center;
	background-image: url('images/B.jpg');
}
p1{
	font-style: bold;
	font-size: 30px;
	font-stretch: expanded;
	line-height: 2.5em
}
.c{
	font-style:bold;
	color:red;

}
p2{
	font-style: bold;
	font-size:35px;
}
a{
	
	color: red;
}
a:hover{
	color:yellow;
}
.h{
	background-color: blue
}